<a href="/post/view_post">View Page</a>

<form action="/post/post_data" method="post" enctype="multipart/form-data">
    <table border="1">
        <tr>
            <td>Enter Title</td>
            <td><input type="text" name="title"></td>
        </tr>
        <tr>
            <td>Enter Content</td>
            <td><textarea name="content"></textarea></td>
        </tr>
        <tr>
            <td>Upload Image</td>
            <td><input type="file" name="PostImage"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add Post"></td>
        </tr>
    </table>
</form>