<form action="/post/edit_post" method="post" enctype="multipart/form-data">
    <input type="hidden" name="postId" value="<%= oldPost.id%>">
    <table border="1">
        <tr>
            <td>Enter Title</td>
            <td><input type="text" name="title" value="<%= oldPost.title%>"></td>
        </tr>
        <tr>
            <td>Enter Content</td>
            <td><textarea name="content"><%= oldPost.content%></textarea></td>
        </tr>
        <tr>
            <td>Upload Image</td>
            <td>
                <input type="file" name="PostImage">
                <img src="<%= oldPost.PostImage%>" height="100">
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit Post"></td>
        </tr>
    </table>
</form>